:root {
    --primary-text-color: #000000;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #e5e5e5;
    --color-text-description: #757575;
    --bg-color-section: #2f303a;
    --bg-color-team: #f5f4fa;
    --btn-text-color: #ffffff;
    --portfolio-border-color: #eeeeee;
    --section-border-color: #ececec;
}
html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    min-width: 100%;
    height: auto;
}
.visualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*body settigs*/
a {
    text-decoration: none;
}
body {
    background-color: var(--btn-text-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    margin: 0;
}
button {
    cursor: pointer;
    border-width: 0;
}
nav {
    margin-left: 93px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    padding: 94px 0;
}
/*header*/
header {
    border-bottom: 1px solid var(--section-border-color);
}
.header-container {
    display: flex;
    align-items: center;
}
.site-contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.header-connect {
    margin-left: auto;
}
.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-studio-primary {
    color: var(--primary-text-color);
    padding: 24px 0;
}
.logo-web {
    color: var(--accent-color);
}

.logo-studio-secondary {
    color: var(--primary-bg-color);
}
/*site-nav*/
.site-nav {
    display: flex;
    align-items: center;
    padding: 0;
}
.nav-link {
    display: block;
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding: 32px 0;
}
.nav-item:not(:last-child) {
    margin-right: 50px;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.current {
    color: var(--accent-color);
}
.header-item:last-child {
    margin: 0;
}

/*site-contact*/
.site-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.contact-item:not(:last-child) {
    margin-right: 50px;
}

.contact-link {
    color: var(--color-text-description);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: block;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

/*hero*/
.hero {
    background-color: var(--bg-color-section);
    text-align: center;
    padding: 200px 0;
}
.hero-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--btn-text-color);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.primary-button {
    color: var(--btn-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    padding: 10px 36px;
    border: none;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}
/*features*/
.features {
    padding-bottom: 0;
}
.features-list {
    display: flex;
}

.features-item {
    width: 270px;
}
.features-item:not(:last-child) {
    margin-right: 30px;
}
.features-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.features-description {
    color: var(--color-text-description);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
}

/*actitvity*/
.activity-list {
    display: flex;
    align-items: center;
}
.activity-list {
    padding-top: 0;
}
.activity-item:not(:last-child) {
    margin-right: 30px;
}

.section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
/*team*/
.team-list {
    display: flex;
}
.team {
    background-color: var(--bg-color-team);
}
.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
    margin-right: 30px;
}
.specialist-title {
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.specialist-description {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-text-description);
}
.specialist-item {
    text-align: center;
    padding: 30px 0;
}
.specialist-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.specialist-description {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--paragraf-color);
}
/*button*/
.button-exclude {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.button-item:not(:last-child) {
    margin-right: 8px;
}

.secondary-button {
    color: var(--primary-text-color);
    background-color: var(--bg-color-team);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
}
.secondary-button:hover {
    color: var(--bg-color-team);
    background-color: var(--accent-color);
}

/*types-list*/
.types-list {
    display: flex;
    flex-wrap: wrap;
}
.types-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.types-image {
    display: block;
}
.types-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
.item-description-field {
    padding: 20px 24px;
    border-left: 1px solid var(--title-text-color);
    border-right: 1px solid var(--title-text-color);
    border-bottom: 1px solid var(--title-text-color);
}
.types-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.description-types {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--color-text-description);
}
.item-description {
    padding: 20px 24px;
    border-left: 1px solid var(--portfolio-border-color);
    border-right: 1px solid var(--portfolio-border-color);
    border-bottom: 1px solid var(--portfolio-border-color);
}
/*footer*/
footer {
    background-color: var(--bg-color-section);
    padding: 60px 0;
}

address {
    font-style: normal;
    margin-top: 20px;
}
.address-item:not(:last-child) {
    margin-bottom: 9px;
}
.address-link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--hover-text-color);
}
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}
.footer-contact-link {
    display: block;
    letter-spacing: 0.03em;
    color: var(--color-text-description);
}
.address-link {
    color: var(--bg-color-team);
}
